
a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

.header {
    padding: 5px;
    background-color: #e6fffd;
}

.header h1.logo{
    font-size: 2em;
    margin-top: 8px;
    margin-bottom: 10px;
    font-weight: bold;
}

.h1test{
    font-weight: bold;
    /*text-decoration: underline;*/
    /*background-color: #009B91;*/

    color: black;
}

.BoxLay{
    border: 1px solid;
    border-color: #334152;
    padding: 5% ;
    border-radius: 30px;
    box-shadow: 2px 3px 2px #334152 inset;
    //box-shadow: 1px 1px;
}
.buttonsLay2{
    border: 1px solid black;
    padding: 5% ;
}

.ueberschrift_licht1{
    color: blue;
}

.list-view-contacts .content {
    display: flex;
}

.list-view-contacts .contact-grid{
    flex:2;
}
.list-view-contacts .ContactInputForm{
    flex:1;
}